.register {
  flex-grow: 1;
  background-color: #202020;
  padding: 70px 0 70px;
}

.register__paragraph {
  color: blue;
}

.register__form {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  margin: 0 auto;
}

.register__logo-link {
  align-self: start;
}

.register__title {
  color: #FFFFFF;
  margin: 40px 0 40px;
  font-weight: 500;
}

.register__label {
  display: block;
  color: #8B8B8B;
  font-size: 10px;
  line-height: 1.21;
  font-weight: 400;
  margin: 0 0 10px;
}

.register__label:first-child {
  display: block;
  margin: 0 0 10px;
  outline: none;
  border: none;
}

.register__input {
  background-color: #2F2F2F;
  height: 46px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  border-radius: 8px;
  font-size: 13px;
  line-height: 1.21;
  text-indent: 15px;
}

.register__input:invalid {
  color: #EE3465;
}

.register__input_invalid {
  color: #EE3465;
}

.register__text-error {
  display: block;
  min-height: 12.1px;
  color: #EE3465;
  font-size: 10px;
  line-height: 1.21;
  font-weight: 400;
  padding-top: 10px;
  outline: none;
  border: none;
}

.register__button-submit {
  background-color: #4285F4;
  color: #FFFFFF;
  height: 45px;
  margin: 69px 0 16px;
  border: none;
  border-radius: 3px;
  padding: 0;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  cursor: pointer;
}

/* .register__button-submit:hover {
  cursor: pointer;
} */

.register__button-submit_inactive {
  background-color: #2F2F2F;
  color: #8B8B8B;
  cursor: default;
}

.register__link-auth {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  color: #8B8B8B;
  align-self: center;
}

.register__link-span {
  color: #4285F4;
}

@media screen and (max-width: 890px) {
  .register {
    display: flex;
    align-items: center;
  }

  .register__form {
    min-width: 396px;
  }
}

@media screen and (max-width: 560px) {

  .register {
    padding: 56px 30px 30px;
    display: block;
  }

  .register__logo-link {
    margin: auto;
  }

  .register__title {
    text-align: center;
    margin: 50px 0 80px;
  }

  .register__form {
    min-width: 260px;
  }

  .register__button-submit {
    font-size: 12px;
    margin-top: calc(100vh - 632px);
  }

  .register__link-auth {
    font-size: 12px;
  }
}