.profile {
  flex-grow: 1;
  background-color: #202020;
  padding: 74px 0 70px;
}

.profile__form {
  max-width: 410px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile__title {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.20;
  text-align: center;
  margin: 0 0 123px;
  font-weight: 500;
}

.profile__label {
  color: #FFFFFF;
  font-size: 11px;
  line-height: 1.21;
  font-weight: 500;
  margin-bottom: -30px;
  font-weight: 500;
}

.profile__input {
  height: 46px;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  border-bottom: 1px solid #424242;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 11px;
  line-height: 1.21;
  font-weight: 500;
  direction: rtl;
  margin-bottom: 16.7px;
}

.input-email {
  border: none;
  margin: 0;
}

.profile__button-submit {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 13px;
  line-height: 1.21;
  font-weight: 400;
  color: #FFFFFF;
}

.profile__button-submit:hover {
  cursor: pointer;
}

.button-type-edit {
  margin: 220px 0 16px;
}

.button-type-exit {
  color: #EE3465;
  font-weight: 500;
}

@media screen and (max-width: 890px) {
  .profile {
    padding: 236px 0 70px;
  }

  .profile__title {
    margin: 0 0 96px;
  }

  .button-type-edit {
    margin: 210px 0 16px;
  }
}

@media screen and (max-width: 560px) {
  .profile {
    padding: 70px 30px 40px;
  }

  .profile__title {
    margin: 0 0 80px;
  }

  .profile__form {
    width: 100%;

  }

  .button-type-edit {
    margin-top: calc(100vh - 419px);
  }



}